.movieDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .detailsContent {
    display: flex;
    gap: 20px; /* Простір між фото та інформацією */
  }
  
  .imageContainer {
    flex: 1;
    max-width: 400px; /* Обмеження для фото */
  }
  
  .movieImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .infoContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .additionalInfo {
    margin-top: 20px;
  }
  
  button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a4496d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #893e5c;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  
  h2 {
    font-size: 24px;
    color: #444;
    margin: 0;
  }
  
  h3 {
    font-size: 20px;
    color: #333;
    margin: 0;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  ul li a {
    color: #a4496d;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: none;
  }
  