.activeLink {
  color: red;
  font-weight: bold;
}

.activeLink:hover{
    color: brown;
}

.inactiveLink {
  color: gray;
}

.inactiveLink:hover{
    color: black;
}

nav{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: sticky; /* Фіксуємо зверху */
    top: 0;
    z-index: 10;
    background-color: rgb(244, 240, 240);
}