.homePage{
    max-width: 500px; /* Обмежуємо максимальну ширину контенту */
    display: flex;
    flex-direction: column;

    gap: 25px;
}

ul{
    list-style: none;
}

h1{
    font-size: 35px;
    text-align: center;
    margin: 0;
}
